#player{
  height: 60vh;
  background-color: rgb(150, 150, 150);
}

#scenery{
  height: 40vh;
  background-color: rgb(0, 0, 0);
}

#description{
  height: 20vh;
  background-color: rgb(0, 0, 0);
}

#choice{
  height: 20vh;
  background-color: rgb(0, 0, 0);
}

#submitChoice{
  height: 20vh;
  background-color: rgb(0, 0, 0);
}

#summary{
  height: 20vh;
  background-color: rgb(150, 150, 150);
}

#browseSummary{
  height: 20vh;
  background-color: rgb(107, 107, 107);
}

#choice > .item:hover{
  border: 5px solid rgb(255, 255, 255);
}

#submitChoice{
  display: flex;
  align-items: center;
  justify-content: center;
}

.msgSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.p-win{
  font-size: 50px;
  text-transform: uppercase;
  background-color: rgb(9, 187, 9);
  padding: 50px;
}

.p-loose{
  font-size: 50px;
  text-transform: uppercase;
  background-color: rgb(187, 9, 9);
  padding: 50px;
}

.next-page{
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(70, 70, 70);
  padding: 50px;
}

.next{
  align-self: flex-end;
}

.selected{
  border: rgb(0, 0, 0) solid 5px;
  /* background-color: rgb(47, 68, 255) !important; */
}